.opciones {
	margin-top: 2rem;
}

.formulario select {
	border-radius: 6px;
	font-size: 18px;
	padding: 6px;
}
.formulario input {
	border-radius: 6px;
	font-size: 18px;
	padding: 18px;
}
.nosintoma {
	border: 1px solid #006699;
	border-radius: 6px;
	color: #006699;
	font-size: 18px;
	text-align: center;
	padding: 20px;
	margin-top: 10px;
}
.active a {
	background: #006699;
}
.nav-bar .active a:hover {
	color: #FFFFFF;
}
.acudir {
	color: #cc3300;
}
.resultado h1 {
	color: #cc0000;
}
.centros > div  {
	border: 1px solid #666666;
	border-radius: 3px;
	background-color: #FFFFFF;
	margin-bottom: 10px;
}
.centros h3 {
	color: #cc0000;
	font-weight: 600;
}
.centros ul {
	padding-left: 15px;
}

.centrosalud {
    height: 400px;
}

.atiendealerta img{
	display: block;
	margin: 0 auto;
}