{% extends 'base.html' %}

{% block content %}
<!-- ######################## Header ######################## -->

<header class="formulario">
    <div class="atiendealerta">
    <img src="{{STATIC_URL}}images/atiendealerta.png">
</div>
    <div class="row opciones">
        <div class="six mobile-twelve centered columns">
            <label>Condición:
                <select>
                    <option value="husker">Mujer gestante</option>
                </select>
            </label>
        </div>
    </div>
    <div class="row opciones">
        <div class="six mobile-twelve centered columns">
            <label>Síntomas:
                <!-- <div id="the-basics">
                    <input name="aver" id="tags" placeholder="ingrese su síntoma" onkeyup="look_up()">
                </div> -->
                <select onchange="getLocation()" id="signos">
                    <option value="">Seleccione</option>
                    {% for signo in signos_alerta %}
                        <option value="{{signo.id}}">{{signo.descripcion}}</option>
                    {% endfor %}
                </select>
            </label>
        </div>
    </div>
</header>

<!-- ######################## Section ######################## -->

<section class="section_light">

    <div class="row">

        <div class="four columns">
            <h3>Identifica</h3>
            <p><img src="{{STATIC_URL}}images/identifica.jpg"></p>
            <p>Identifica los signos de alerta que debes tener en cuenta y que merecen que consultes al médico. La prevención siempre es mejor.</p>
        </div>


        <div class="four columns">
            <h3>Acude</h3>
            <p><img src="{{STATIC_URL}}images/acude.jpg"></p>
            <p>Acude al centro de atención que cuenta con los servicios médicos que pueden atenderte con los signos de alerta que presentas y brindar la mejor respuesta.</p>
        </div>


        <div class="four columns">
            <h3>Prevén</h3>
            <p><img src="{{STATIC_URL}}images/preven.jpg"></p>
            <p>Si estás embarazada o presentas una condición de salud delicada o crónica conoce los signos de alerta de la misma que pueden ayudarte a prevenir una situación de salud de cuidado.</p>
        </div>

    </div>

</section>
<section class="section_light">

    <div class="row">
    <div class="twelve columns">
        <h2>Signos de alerta en tu salud</h2>

        <p>Si estás embarazada o tienes una condición de salud crónica en la que pueda presentarse algún evento de cuidado debes aprender a identificarlo a fin de atenderlo y prevenir consecuencias.</p>

        <p>Tu médico de cabecera te indicará cuales son esos signos. Si no los conoces puedes hacerlo aquí. Recuerda que esta no es una guía ni recomendación médica. Es un medio de ayuda para identificar el signo de alerta y puedas informarte sobre los centros de atención que cuentan con los servicios médicos que pueden atender ese evento de salud.</p>

        <p>La primera condición que publicamos es la de “Mujer gestante”. Pero puede ser ampliada para ayudar e informar a más personas.</p>
    </div>
    </div>

</section>

<section class="section_light">

    <div class="row">
        <div class="twelve columns">
        <h2>Cómo listamos los signos de alerta</h2>

        <p>Los signos de alerta que listamos en esta página se basan en información e investigaciones científicas.</p>

        <h4>Signos de alerta en el embarazo</h4>
        <p><b>Fuente: </b>Conocimientos y prácticas sobre signos de alarma de las gestantes atendidas en el Hospital Nacional Docente Madre- Niño San Bartolomé, Lima, Perú. Ticona Rebagliati. Publicado en <a href="http://www.scielo.org.pe/pdf/rgo/v60n2/a05v60n2.pdf" target="_blank" >Scientific Electronic Library Online - SciELO Perú.</a>
        </p>


        <h4>RM 546-2-11-MINSA</h4>

        <p>Los criterios para la determinación de centros y la publicación de los servicios y especialidades de cada uno se basan en los criterios descritos en la RM 546-2-11-MINSA.
        </p>
        </div>
    </div>


</section>

<p id="demo"></p>

<script>
var x = document.getElementById("demo");
var latitude = undefined;
var longitude = undefined;

function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else { 
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
}

function showPosition(position) {
    // x.innerHTML = "Latitude: " + position.coords.latitude + 
    // "<br>Longitude: " + position.coords.longitude;
    data = {
        'signo': $('#signos')[0].selectedOptions[0].value,
        'latitude': position.coords.latitude,
        'longitude': position.coords.longitude
    }
    
    $.get('/go/', data, function(res){
        window.location.href = '/result/'+res.condicion+'/'+res.alerta+'/'+res.ubigeo+'/'+res.distrito_nombre+'/';
    });
    // window.location.href('/go/?signo='+data.signo+'&latitude='+data.latitude+'&longitude='+data.longitude);
}
</script>


{% endblock %}

