{% extends 'base.html' %}

{% block content %}
<!-- ######################## Header ######################## -->

<header class="formulario">
    <h1 class="welcome_text">Nombre del proyecto</h1>

    <div class="row opciones">
        <div class="six mobile-twelve centered columns">
            <label>Condición:
                <select>
                    <option value="husker">Mujer gestante</option>
                </select>
            </label>
        </div>
    </div>
    <div class="row opciones">
        <div class="six mobile-twelve centered columns">
            <label>Síntomas:
                <input type="text" placeholder="Escriba sus síntomas" />
            </label>
        </div>
    </div>

</header>

<!-- ######################## Section ######################## -->

<section class="section_light">

    <div class="row">

        <div class="four columns">
            <h3><span class="dropcap_red lsf-icon-dropcap" title="camera"></span> Lorem ipsum dolor</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc viverra, lacus id interdum ultrices, elit metus semper tellus, vel lacinia libero purus vitae risus.</p>
        </div>


        <div class="four columns">
            <h3><span class="dropcap_black lsf-icon-dropcap" title="cloud"></span> Lorem ipsum dolor</h3>
            <p> Vivamus tortor tellus, rutrum sit amet mollis vel, imperdiet consectetur orci. Mauris pharetra congue enim, et sagittis lectus congue ut. Cum sociis natoque penatibus.</p>
        </div>


        <div class="four columns">
            <h3><span class="dropcap_black lsf-icon-dropcap" title="video"></span> Lorem ipsum dolor</h3>
            <p>Sed vitae nisi leo. Nulla tincidunt, turpis non gravida pharetra, diam sapien posuere massa, non luctus leo mauris at sapien. Donec ut fermentum eros.</p>
        </div>

    </div>

</section>

{% endblock %}
