<html>
<head>
	<title>hola</title>
	    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.8.16/jquery-ui.min.js"></script>

    <script type="text/javascript">
$(document).ready(function() {
    
    var aTags = ["ask","always", "all", "alright", "one", "foo", "blackberry", "tweet","force9", "westerners", "sport"];

    $("#tags").autocomplete({
        source: aTags
    });
    
});
</script>
</head>
<body>
<input name="aver" id="tags" placeholder="a ver">
</body>
</html>